extends ../layouts/layout.pug

block content
	.aw-wrapper
		.aw
			.aw__close
				img(src="./img/aw/close-icon.svg", width="7" height="7" alt="icon")
			.aw__content
				.aw__option(frame-btn="aw-order")
					img(src="./img/aw/phone.svg", alt="icon")
					span Оставить<br>заявку
				.aw__option(frame-btn="aw-download")
					img(src="./img/aw/download.svg",   alt="icon")
					span Скачать<br>прайс
				a(href="#!" frame-btn).aw__option
					img(src="./img/aw/viber.svg",   alt="icon")
					span Написать в<br> viber
				a(href="#!" frame-btn).aw__option
					img(src="./img/aw/touch.svg",  alt="icon")
					span Перейти к<br> прайсу

		//=== modals ====
		.aw-modals
			//============modal #1=======
			.aw-modal.aw-modal--order(frame-modal="aw-order")
				.aw-modal__content
					.aw-modal__close(frame-close) +
					.aw-modal__title Оставьте заявку<br>на расчет стоимости
					.aw-modal__subtitle
						p Только телефон и мы в деле<br>Перезвоним через пару минут
					
					form.aw-form
						.aw-form__item
							label Выберите из списка нужную услугу
							.form-select
								.form-select__icon
								input(type="text" name="userSelect" placeholder="Покупка сайта доставки еды" autocomplete="off")
								ul.form-select__options
									li Покупка сайта доставки еды
									li Покупка сайта фотографа
									li Покупка сайта доставки цветов
									li Получить консультацию
									li Получить консультацию
									li Получить консультацию
									li Получить консультацию
						.aw-form__item
							input(type="text" placeholder="Телефон")
						.aw-form__footer
							button.aw-form-btn.btn-blick(type="submit") Отправить
			
			//============modal #2=======
			.aw-modal.aw-modal-downl(frame-modal="aw-download")
				.aw-modal__content(style="background-image:url(./img/aw/bg.webp)")
					.aw-modal__close(frame-close) +
					.aw-modal__title Скачайте<br> подборку квартир<br>в 1 клик
					.aw-modal__decore
						img(src="./img/aw/pdf-circle.svg", alt="img")
						p Обновлен
							span 15.12.2023

					form.aw-downl-form
						.aw-form__grid
							.form-select
								.form-select__icon
								input(type="text" name="userSelect" placeholder="Покупка сайта доставки еды" autocomplete="off")
								ul.form-select__options
									li Покупка сайта доставки еды
									li Покупка сайта фотографа
									li Покупка сайта доставки цветов
									li Получить консультацию
									li Получить консультацию
									li Получить консультацию
									li Получить консультацию
							.aw-form__item
								input(type="text" placeholder="Телефон")
							.aw-form__footer
								button.aw-form-btn.btn-blick(type="submit") 
									span Получить каталог сейчас
									img(src="./img/aw/arrow-top-right.svg", width="20" alt="icon")
	//=============== скрипты vw===================	
	script(src="js/aw.js")

		
			
	
	
	
block variables
	-var title = "Page";
